.slideUp {
  transform: translateY(-85%);
}

#global_header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  transition: transform 0.5s;
  background-color: var(--bg-dark-color);
  border-bottom: 1px solid white;
  color: var(--txt-light-color);
    &:hover {
      transform: translateY(0);
    }
    nav {
      height: 100%;
      margin: 0 auto;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      height: 100%;
        li {
            a {
              font-size: 40px;
            }
        }
    }
}
