.section{
  width: 100%;
  height: 100vh;
    &:nth-of-type(2n){
      background-color: var(--bg-light-color);
    }
}


.home_top_container{
  background-color: var(--bg-dark-color);
}

.card_layout_container{
  position: relative;
  width: 500px;
  height: 90vh;
}

.home_nav{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: fixed;
  z-index: 999;
  right: 0;
  height: 100vh;
  padding: 0 1rem;
  background-color: var(--bg-dark-color);
  border-left: 2px solid var(--bg-light-color);
  font-size: 3rem;
  color: var(--txt-light-color);
    h1:nth-of-type(3){
      font-size: 2.5rem;
    }
}