.section{
  width: 100vw;
  height: 100vh;
  background-color: beige;
    &:nth-of-type(2n){
      background-color: var(--bg-light-color);
    }
}


.card_container{
  margin: 0 auto;
  width: 1000px;
  height: 1000px;
  background-color: red;
}

.card_item{
  position: relative;
  width: inherit;
  height: inherit;
}

.home_nav{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: fixed;
  z-index: 999;
  right: 0;
  height: 100vh;
  padding: 0 1rem;
  background-color: var(--bg-dark-color);
  border-left: 2px solid var(--bg-light-color);
  font-size: 3rem;
  color: var(--txt-light-color);
    h1:nth-of-type(3){
      font-size: 2.5rem;
    }
}